<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesignForBD.Properties.Settings.Training_base_AT04_LavrinovichConnectionString"
            connectionString="Data Source=DESKTOP-IT67UII\SQLEXPRESS;Initial Catalog=Training_base_AT04_Lavrinovich;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>